$primaryColor: #E46713;
$titleColor: #007162;
$whiteColor: #ffffff;
$charcoalColor: #44475B;
$charColor: #ACB2BF;
$coalColor: #343645;
$footerColor: #ACB0C0;

.color-green {
    color: $titleColor;
}

.color-primary {
    color: $primaryColor;
}